<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('assets/css/main.min.css') }}">
            <!--[if IE 9]>
            <link href="https://cdn.jsdelivr.net/gh/coliff/bootstrap-ie8/css/bootstrap-ie9.min.css" rel="stylesheet">
            <![endif]-->
            <!--[if lte IE 8]>
            <link href="https://cdn.jsdelivr.net/gh/coliff/bootstrap-ie8/css/bootstrap-ie8.min.css" rel="stylesheet">
            <script src="https://cdn.jsdelivr.net/g/html5shiv@3.7.3"></script>
            <![endif]-->
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            {% include '@App/partials/header.html.twig' %}
        {% endif %}
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="{{ asset('assets/js/main.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
