<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-left header-box align-middle"><img class="header-logo-box" src="{{ asset('images/testio-blue.png') }}" alt="photo"></div>
            <div class="col text-right header-box align-middle"><a href="{{ url('logout') }}"><img src="{{ asset('images/ico-logout.png') }}" alt="photo"> Logout</a></div>
        </div>
    </div>
</header>